md-input-container {
    margin: 8px 0;

    .hint {
        position: absolute;
        left: 2px;
        right: auto;
        top: 37px;
        font-size: 12px;
        line-height: 14px;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        color: #808080;
        opacity: 0;
        &.ng-hide, &.ng-enter, &.ng-leave.ng-leave-active {
            bottom: 26px;
            opacity: 0;
        }
        &.ng-leave, &.ng-enter.ng-enter-active {
            bottom: 7px;
            opacity: 1;
        }
    }

    md-select ~ .hint, input:focus ~ .hint {
        opacity: 1;
    }
}
