<h1>Your Narrative Dashboard</h1>

<section layout="row" layout-align="center top">
    <!-- todo: convert to buy-list component -->
    <md-card flex-xs="100" flex-sm="66" flex-gt-md="33">
        <md-card-title>
            <md-card-title-text layout="row" layout-align="space-between center">
                <span class="md-headline">Open Buy Orders</span>
                <md-button class="md-accent md-hue-3" ng-click="$ctrl.openBuyOrderModal($event)">New Buy Order</md-button>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-list-item class="md-3-line" ng-repeat="order in $ctrl.buyOrders track by order.id">
                <md-icon class="md-avatar-icon md-accent md-hue-3">{{$ctrl.getOrderIcon(order.packageType)}}</md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>{{order.title}}</h3>
                    <h4>Package Type: {{order.packageType}}</h4>
                    <p>Max Bid-Price: ${{order.maxBid}}</p>
                </div>
                <md-button class="md-secondary md-icon-button" ng-click="$ctrl.openBuyOrderModal($event, order)" aria-label="Edit Buy Order">
                    <md-tooltip>Edit this order</md-tooltip>
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-secondary md-icon-button" ng-click="null" aria-label="Edit Buy Order">
                    <md-tooltip>Delete this order permanently</md-tooltip>
                    <md-icon>delete</md-icon>
                </md-button>
                <md-divider ng-if="!$last">
            </md-list-item>
        </md-card-content>
    </md-card>
</section>
