@import url('//fonts.googleapis.com/icon?family=Material+Icons');

.debug, .debug * { outline: 1px solid rgba(255, 0, 0, .1); }

main { min-height: calc(100% - 46px) !important} // where 46px is the height of the footer

@import 'components/orderList';
@import 'components/mdDialog';
@import 'components/mdInput';
