<md-card>
    <md-card-title>
        <md-card-title-text layout="row" layout-align="space-between center">
            <span class="md-headline">Open Buy Orders</span>
            <md-button class="md-accent md-hue-3" ng-click="$ctrl.openBuyOrderModal($event)">New Buy Order</md-button>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <aside ng-show="!$ctrl.orderList.length">
            <section class="buy-list--empty-state" layout="column" layout-align="center center">
                <h3>No open buy orders</h3>
                <img src="images/empty-state-icon.png" alt="No Open Buy Orders image" width="180" height="180">
                <p>Get started by creating a new buy order using the New Buy Order button above and our algorithm will get to work finding the data you need.</p>
            </section>
            <section layout="row">
                <md-button ng-click="$ctrl.loadSampleData()">Load Sample Data</md-button>
            </section>
        </aside>
        <md-list flex>
            <md-list-item class="md-3-line" ng-show="$ctrl.orderList.length" ng-repeat="order in $ctrl.orderList track by order.id">
                <md-icon class="md-avatar-icon md-accent md-hue-3">{{$ctrl.getOrderIcon(order.packageType)}}</md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>{{order.title}}</h3>
                    <h4><span hide-xs>Package Type:</span> {{order.packageType}}</h4>
                    <p>Max Bid-Price: ${{order.maxBid}}</p>
                </div>
                <md-menu class="md-fallback" md-position-mode="target-right target">
                    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Show available actions">
                        <md-tooltip md-direction="left">Show available actions</md-tooltip>
                        <md-icon md-menu-origin>more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="$ctrl.openBuyOrderModal($event, order)">
                                <md-icon md-menu-align-target>edit</md-icon>
                                Edit buy order
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.remove($event, order.id)">
                                <md-icon md-menu-align-target>delete</md-icon>
                                Delete permanently
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-divider ng-if="!$last">
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
